.parent {
    display: grid;
    place-items: center;
    
    background: lightblue;
    width: 500px;
    height: 500px;
    
    resize: both;
    overflow: auto;
  }
  
  .child {
  
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid red;
    background: #456268;
    font-size: 2rem;
    text-align: justify;
  }
  
  .body {
    font-family: system-ui, serif;
    position: absolute;
  }
  .h3 {
    font-size: 0,5 ;
    background: lightblue;
    text-align: center;
  }
  .p {
    font-size: 1.5rem;
    background: lightcyan;
    text-align: justify;
  }